################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BNKaraoke/FileContentIndex/36f87776-b123-4d8b-ace1-9750baa66dee.vsidx
